.message{
    display: flex;
    gap: 19px;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}

.message > p{
    background-color: #8da4f1;
    color: whitesmoke;
    border-radius: 10px 0px 10px 10px;
    max-width: max-content;

}

.message__info{
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;
}

.message__info > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.message__content{
    max-width: 80%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message__content > p{
    padding: 10px 20px;
    background-color: white;
    border-radius: 0px 10px 10px 10px;
}

.message__content > img{
    width: 50%;
}